doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title catalog demo
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
body
  main.container.p-5
    .row
      .col-8
        .row.mb-3
          .col-8
            .input-group
              .input-group-prepend
                span.input-group-text
                  span.fas.fa-filter
              select#sort.form-control
                option(value=0) --выберите сортировку--
                option(value="title-asc") по названию товара ↓
                option(value="title-desc") по названию товара ↑
                option(value="price-asc") по цене ↓
                option(value="price-desc") по цене ↑
          .col-4.flex.align-self-center
            .form-check
              input#filter-available.form-check-input(type='checkbox' value='')
              label.form-check-label(for='filter-available')
                | В наличии

        .list
        .row
          .col-12
            .pagination
      .col-4
        .cart
